.AuthPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#auth-container,
#sign-up-toggle {
    background-color: var(--primary-color);
    min-width: 50vw;
}

#auth-container {
    border-radius: 10px 10px 0 0;
}

#sign-up-toggle {
    border-radius: 0 0 10px 10px;
}

#sign-up-toggle:hover {
    color: var(#000);
}

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    max-width: 50vw;
}

.form-container > * {
    gap: 2vh;
}

.input-container {
    display: grid;
    justify-content: start;
    align-content: space-between;
    text-align: left;
    margin-top: 15px;
}

.auth-in {
    display: grid;
    grid-template-columns: 1fr auto; /* Adjust the width of the columns as needed */
    justify-content: start; /* Align items to the start of the row */
    margin: 0px;
}

.label {
    text-align: left; /* Align text of labels to the right */
    margin-left: 40x;
}
