.TypeTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.title { margin-top: 3vh;}

.quote {
    padding: 3%;
    border: 1px solid var(--primary-color);
    background-color: var(--heading-color);
    max-width: 90vw
}

.new-quote, .start-btn, .finish-btn {
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
}

.test-input {
    width: 50vw;
}