.TypeTest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
}

.quote, .test-input, .new-quote, .start-btn, .finish-btn {
    margin-inline: 20vw;
}