.docs {
    display: flex;
    justify-content: center;
}

.DocsList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.continue-btn, .new-doc-btn, .delete-btn {
    margin: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
}