a {
    text-decoration: none;
    color: var(--font-color)
}

.dropdown-menu {
    background-color: var(--primary-color);
    color: var(--font-color)
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}