.logo {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.dark-toggle {
    background-color: black;
    color: white;
    border-radius: 100%;
}

input {
    margin-left: 15px;
    width:fit-content;
}

#basic-nav-dropdown {
    color: black;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

a {
    color: orange;
    text-decoration: none;
}