/* Dark theme */

:root {
  --primary-color: #0a5a9f;
  --secondary-color: #82a0c0;
  --font-color: #fff;
  --bg-color: #424242;
  --heading-color: #20201d;
}

#light {
  --primary-color: #82a0c0;
  --secondary-color: #0a5a9f;
  --font-color: #000000;
  --bg-color: #c6c6c6;
  --heading-color: #f4f4f4;
}

#dark,
#light {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* APP */
.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.Home,
.Doc,
.About,
.Berserk,
.AuthPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Doc {
  min-height: fit-content;
}

Link {
  color: var(--font-color);
}

button {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  background-color: var(--heading-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* NAVBAR */
#Nav {
  background-color: var(--heading-color);
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: var(--font-color);
  text-decoration: none;
}

.dark-toggle {
  background-color: var(--font-color);
  color: var(--bg-color);
  border-radius: 80%;
  margin-right: 20px;
}

input {
  margin-left: 15px;
  width: fit-content;
}

#basic-nav-dropdown {
  color: var(--font-color);
}

.drop-contain {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dropdown-menu {
  background-color: var(--heading-color);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

/* DOC PAGE */
textarea {
  background-color: var(--heading-color);
  color: var(--font-color);
  border: none;
}

/* HOME PAGE */
#new-doc-btn {
  background-color: var(--primary-color);
  color: var(--font-color);
}

#doc-card {
  background-color: var(--heading-color);
}
