.ql-container {
    border: none;
}

.TextEditor-container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 16px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    background-color: var(--heading-color);
    border: none;
    z-index: -1;
}

.TextEditor-container .ql-toolbar.ql-snow {
    position: sticky;
    background-color: var(--heading-color);
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    margin: 16px;
    color: var(--font-color);
    border: none;
}

.ql-snow .ql-stroke {
    stroke: var(--font-color)
}

.ql-snow .ql-picker .ql-expanded .ql-picker-label {
    color: var(--font-color)
}

.ql-snow .ql-picker {
    color: var(--font-color)
}