.page-container {
    min-height: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
}

.page-container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.page-container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 16px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    background-color: var(--heading-color);
    border: none;
    position: absolute;
    z-index: 0;
}

.page-container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    align-content: center;
    top: 0;
    z-index: 1;
    background-color: var(--heading-color);
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    margin: 16px;
    width: 8.5in;
    color: var(--font-color);
    border: none;
}

.ql-snow .ql-stroke {
    stroke: var(--font-color)
}

.ql-snow .ql-picker .ql-expanded .ql-picker-label {
    color: var(--font-color)
}

.ql-snow .ql-picker {
    color: var(--font-color)
}

#ql-picker-options-0, #ql-picker-options-1, #ql-picker-options-2 {
    background-color: var(--primary-color);
border: none;
}

span .ql-picker-item {
    /* position: absolute;
    z-index: 2; */
}